In [2]:
# Inicializamos spark
spark

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

<pyspark.sql.session.SparkSession object at 0x7febbe224190>

In [3]:
# Obtenemos el SparkContext (sc), que permite interactuar directamente con el clúster y manejar RDDs
sc

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

<SparkContext master=yarn appName=livy-session-0>

In [4]:
# Creamos el dataframe para luego mostrar todas las tablas que tenemos en el sistema HIVE.
data_frame_1 = spark.sql("SHOW TABLES")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [5]:
# Mostramos todas las tablas que tenemos en el sistema HIVE.
data_frame_1.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|  default|                docs|      false|
|  default|               docs2|      false|
|  default|              docss3|      false|
|  default|                expo|      false|
|  default|             hdiens3|      false|
|  default|          hdiextxgui|      false|
|  default|          hdilabhive|      false|
|  default|      word_frequency|      false|
|  default|    word_frequency_2|      false|
|  default| word_frequency_ctas|      false|
|  default|word_frequency_ct...|      false|
|  default|wordcount_table_hive|      false|
+---------+--------------------+-----------+

In [6]:
# Creamos el dataframe para luego mostrar las 10  primeras entradas de la tabla 'hdiens3'.
data_frame_2 = spark.sql("SELECT * FROM hdiens3 LIMIT 10")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [7]:
# Mostrar las 10 entradas de la tabla 'hdiens3'.
data_frame_2.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-------------+-----+------+-----+-----+-----+
|  id|      country|  hdi|lifeex|mysch|eysch|  gni|
+----+-------------+-----+------+-----+-----+-----+
|NULL|      country| NULL|  NULL| NULL| NULL| NULL|
|   1|       Norway|0.943|    81|   12|   17|47557|
|   2|    Australia|0.929|    81|   12|   18|34431|
|   3|  Netherlands| 0.91|    80|   11|   16|36402|
|   4|United States| 0.91|    78|   12|   16|43017|
|   5|  New Zealand|0.908|    80|   12|   18|23737|
|   6|       Canada|0.908|    81|   12|   16|35166|
|   7|      Ireland|0.908|    80|   11|   18|29322|
|   8|Liechtenstein|0.905|    79|   10|   14|83717|
|   9|      Germany|0.905|    80|   12|   15|34854|
+----+-------------+-----+------+-----+-----+-----+

In [8]:
# Creamos el dataframe para luego mostrar todas entradas de la tabla 'hdiens3'.
data_frame_3 = spark.sql("SELECT * FROM hdiens3")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [9]:
# Mostrar todas entradas de la tabla 'hdiens3', Nota: Sólo muestra las 20 primeras.
data_frame_3.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+--------------------+-----+------+-----+-----+-----+
|  id|             country|  hdi|lifeex|mysch|eysch|  gni|
+----+--------------------+-----+------+-----+-----+-----+
|NULL|             country| NULL|  NULL| NULL| NULL| NULL|
|   1|              Norway|0.943|    81|   12|   17|47557|
|   2|           Australia|0.929|    81|   12|   18|34431|
|   3|         Netherlands| 0.91|    80|   11|   16|36402|
|   4|       United States| 0.91|    78|   12|   16|43017|
|   5|         New Zealand|0.908|    80|   12|   18|23737|
|   6|              Canada|0.908|    81|   12|   16|35166|
|   7|             Ireland|0.908|    80|   11|   18|29322|
|   8|       Liechtenstein|0.905|    79|   10|   14|83717|
|   9|             Germany|0.905|    80|   12|   15|34854|
|  10|              Sweden|0.904|    81|   11|   15|35837|
|  11|         Switzerland|0.903|    82|   11|   15|39924|
|  12|               Japan|0.901|    83|   11|   15|32295|
|  13|Hong Kong China (...|0.898|    82|   10|   15|44805|
|  14|             Iceland|0.898|    81|   10|   18|29354|
|  15| Korea (Republic of)|0.897|    80|   11|   16|28230|
|  16|             Denmark|0.895|    78|   11|   16|34347|
|  17|              Israel|0.888|    81|   11|   15|25849|
|  18|             Belgium|0.886|    80|   10|   16|33357|
|  19|             Austria|0.885|    80|   10|   15|35719|
+----+--------------------+-----+------+-----+-----+-----+
only showing top 20 rows

In [10]:
# Creamos el dataframe para luego mostrar las 10 primeras entradas de la tabla 'expo'.
data_frame_4 = spark.sql("SELECT * FROM expo LIMIT 10")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [11]:
# Mostrar las 10 primeras entradas de la tabla 'expo'.
data_frame_4.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------------------+---------+
|            country|    expct|
+-------------------+---------+
|            country|     NULL|
|        Afghanistan|15.487171|
|            Albania| 29.77231|
|            Algeria|30.830406|
|     American Samoa|     NULL|
|            Andorra|     NULL|
|             Angola|56.835884|
|Antigua and Barbuda| 44.08267|
|          Argentina|21.706469|
|            Armenia| 20.58361|
+-------------------+---------+

In [12]:
# Creamos el dataframe para luego mostrar todas las entradas de la tabla 'hdiens3' donde 'gni > 2000'.
data_frame_5 = spark.sql("SELECT country, gni FROM hdiens3 WHERE gni > 2000")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [13]:
# Mostrar todas las entradas de la tabla 'hdiens3' donde 'gni > 2000', Nota: Sólo muestra las 20 primeras.
data_frame_5.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+-----+
|             country|  gni|
+--------------------+-----+
|              Norway|47557|
|           Australia|34431|
|         Netherlands|36402|
|       United States|43017|
|         New Zealand|23737|
|              Canada|35166|
|             Ireland|29322|
|       Liechtenstein|83717|
|             Germany|34854|
|              Sweden|35837|
|         Switzerland|39924|
|               Japan|32295|
|Hong Kong China (...|44805|
|             Iceland|29354|
| Korea (Republic of)|28230|
|             Denmark|34347|
|              Israel|25849|
|             Belgium|33357|
|             Austria|35719|
|              France|30462|
+--------------------+-----+
only showing top 20 rows

In [14]:
# Creamos el dataframe para luego mostrar un join entre las tablas 'hdiens3' y 'expo' donde 'gni > 2000'
data_frame_6 = spark.sql("SELECT h.country, gni, expct FROM hdiens3 h JOIN expo e ON (h.country = e.country) WHERE gni > 2000")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [15]:
# Mostrar un join entre las tablas 'hdiens3' y 'expo' donde 'gni > 2000', Nota: Sólo muestra las 20 primeras.
data_frame_6.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+-----+---------+
|             country|  gni|    expct|
+--------------------+-----+---------+
|             Albania| 7803| 29.77231|
|             Algeria| 7658|30.830406|
|             Andorra|36095|     NULL|
|              Angola| 4874|56.835884|
| Antigua and Barbuda|15521| 44.08267|
|           Argentina|14527|21.706469|
|             Armenia| 5188| 20.58361|
|           Australia|34431|19.780243|
|             Austria|35719|53.971355|
|          Azerbaijan| 8666|55.125755|
|             Bahrain|28169|     NULL|
|            Barbados|17966| 47.34396|
|             Belarus|13439|54.623608|
|             Belgium|33357| 80.00875|
|              Belize| 5812|     NULL|
|              Bhutan| 5293|     NULL|
|Bosnia and Herzeg...| 7664| 35.92036|
|            Botswana|13049|32.641003|
|              Brazil|10162| 11.15298|
|   Brunei Darussalam|45753|     NULL|
+--------------------+-----+---------+
only showing top 20 rows

In [16]:
# Creamos el dataframe para luego mostrar las columnas y los tipos de datos de la tabla 'hdiens3'
data_frame_7 = spark.sql("DESCRIBE hdiens3")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [17]:
# Mostrar las columnas y los tipos de datos de la tabla 'hdiens3'
data_frame_7.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|      id|      int|   NULL|
| country|   string|   NULL|
|     hdi|    float|   NULL|
|  lifeex|      int|   NULL|
|   mysch|      int|   NULL|
|   eysch|      int|   NULL|
|     gni|      int|   NULL|
+--------+---------+-------+

In [18]:
# Creamos la tabla docs3
spark.sql("""
    CREATE EXTERNAL TABLE IF NOT EXISTS docs3 (line STRING)
    STORED AS TEXTFILE
    LOCATION 's3://datasets-mauricio/datasets/gutenberg-small'
""")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

DataFrame[]

In [19]:
# Creamos el dataframe para luego mostrar todas las tablas NUEVAMENTE que tenemos en el sistema HIVE, 
# verificando la creación de la tabla docs3.
data_frame_8 = spark.sql("SHOW TABLES")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [20]:
# Mostrar todas las tablas NUEVAMENTE que tenemos en el sistema HIVE, 
# verificando la creación de la tabla docs3.
data_frame_8.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|  default|                docs|      false|
|  default|               docs2|      false|
|  default|               docs3|      false|
|  default|              docss3|      false|
|  default|                expo|      false|
|  default|             hdiens3|      false|
|  default|          hdiextxgui|      false|
|  default|          hdilabhive|      false|
|  default|      word_frequency|      false|
|  default|    word_frequency_2|      false|
|  default| word_frequency_ctas|      false|
|  default|word_frequency_ct...|      false|
|  default|wordcount_table_hive|      false|
+---------+--------------------+-----------+

In [21]:
# Creamos el dataframe para luego mostrar el resultado de la creación de la query a la tabla llamada 'docs3'
data_frame_9 = spark.sql("SELECT * FROM docs3")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [22]:
# Mostrar el resultado de la creación de la query a la tabla llamada 'docs3', Nota: Sólo muestra las 20 primeras.
data_frame_9.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+
|                line|
+--------------------+
|                    |
|     LINCOLN LETTERS|
|                    |
|  By Abraham Lincoln|
|                    |
|                    |
|Published by The ...|
|                    |
|                    |
|                    |
|                    |
|                NOTE|
|                    |
|The letters herei...|
|the man, and are ...|
|it requires no co...|
|appreciate them. ...|
|admonitions in th...|
|the same sheet wi...|
|                    |
+--------------------+
only showing top 20 rows

In [23]:
# Creamos el dataframe para luego mostrar el resultado de ordenar por palabra y traer máximo 10 palabras de manera descendente
data_frame_10 = spark.sql("""
    SELECT word, count(1) AS count FROM (SELECT explode(split(line,' ')) AS word FROM docs3) w 
    GROUP BY word 
    ORDER BY word DESC LIMIT 10;
""")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [24]:
# Mostrar el resultado de ordenar por palabra y traer máximo 10 palabras de manera descendente
data_frame_10.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+---------+-----+
|     word|count|
+---------+-----+
|Æschines,|    1|
|   zigzag|    1|
|     zest|    1|
|   zenith|    1|
|zealously|    1|
| zealous,|    1|
|  zealous|    5|
|    zeal,|    3|
|     zeal|    8|
| youthful|    2|
+---------+-----+

In [27]:
# Creamos el dataframe para luego mostrar ordenar por palabra y traer todas las palabras de manera descendente
data_frame_11 = spark.sql("""
    SELECT word, count(1) AS count FROM (SELECT explode(split(line,' ')) AS word FROM docs3) w 
    GROUP BY word 
    ORDER BY word DESC;
""")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [28]:
# Mostrar ordenar por palabra y traer todas las palabras de manera descendente, Nota: Sólo muestra las 20 primeras.
data_frame_11.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------------+-----+
|        word|count|
+------------+-----+
|   Æschines,|    1|
|      zigzag|    1|
|        zest|    1|
|      zenith|    1|
|   zealously|    1|
|    zealous,|    1|
|     zealous|    5|
|       zeal,|    3|
|        zeal|    8|
|    youthful|    2|
|      youth;|    1|
|      youth.|    1|
|      youth,|    5|
|     youth's|    1|
|       youth|    8|
| yourselves?|    8|
|yourselves."|    1|
| yourselves.|   16|
| yourselves,|   14|
|  yourselves|   32|
+------------+-----+
only showing top 20 rows

In [29]:
# Creamos el dataframe para luego mostrar ordenado por frecuencia de menor a mayor y traer máximo 10 palabras de manera descendente.
data_frame_12 = spark.sql("""
    SELECT word, count(1) AS count FROM (SELECT explode(split(line,' ')) AS word FROM docs3) w 
    GROUP BY word 
    ORDER BY count DESC LIMIT 10;
""")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [30]:
# Mostrar ordenado por frecuencia de menor a mayor y traer máximo 10 palabras de manera descendente.
data_frame_12.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----+
|word|count|
+----+-----+
| the|44647|
|  of|28020|
|    |27298|
|  to|23208|
| and|20444|
|  in|13174|
|that|12265|
|   I|10880|
|   a|10431|
|  is| 7776|
+----+-----+

In [31]:
# Creamos el dataframe para luego mostrar ordenado por frecuencia de menor a mayor y traer todas las palabras de manera descendente.
data_frame_13 = spark.sql("""
    SELECT word, count(1) AS count FROM (SELECT explode(split(line,' ')) AS word FROM docs3) w 
    GROUP BY word 
    ORDER BY count DESC;
""")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [32]:
# Mostrar ordenado por frecuencia de menor a mayor y traer todas las palabras de manera descendente.
# Nota: Sólo muestra las 20 primeras.
data_frame_13.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----+
|word|count|
+----+-----+
| the|44647|
|  of|28020|
|    |27298|
|  to|23208|
| and|20444|
|  in|13174|
|that|12265|
|   I|10880|
|   a|10431|
|  is| 7776|
|  be| 7148|
|  it| 6899|
|  as| 6473|
| not| 5920|
| for| 5658|
|have| 5060|
|  by| 4571|
| you| 4328|
|  he| 4111|
| was| 4029|
+----+-----+
only showing top 20 rows

In [33]:
# Creamos el dataframe para luego mostrar ordenado por frecuencia de mayor a menor y traer todas las palabras de manera ascendente.
data_frame_14 = spark.sql("""
    SELECT word, count(1) AS count FROM (SELECT explode(split(line,' ')) AS word FROM docs3) w 
    GROUP BY word 
    ORDER BY count ASC;
""")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [35]:
# Mostrar ordenado por frecuencia de mayor a menor y traer todas las palabras de manera ascendente.
# Nota: Sólo muestra las 20 primeras.
data_frame_14.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------------+-----+
|         word|count|
+-------------+-----+
|   prejudice.|    1|
|   "Resolved:|    1|
|       adroit|    1|
|     LONGMANS|    1|
|     Resolves|    1|
|      cause--|    1|
|   (Houghton,|    1|
|           07|    1|
|       _more_|    1|
|DELIBERATELY,|    1|
| Congressman,|    1|
|   COLLECTION|    1|
|      Hapgood|    1|
|REVOLUTIONARY|    1|
|     patches.|    1|
|      _lazy_,|    1|
|       fail_.|    1|
|       WRONG,|    1|
|        1822.|    1|
|         WELL|    1|
+-------------+-----+
only showing top 20 rows

In [40]:
# RETO
# OPCIÓN 1.
# En la cosola, ejecutamos el siguiente comando para crer un nuevo directorio en el bucket 'datasets-mauricio'
# Para luego crear una tabla allí.
# Comando: hadoop fs -mkdir s3a://datasets-mauricio/reto-lab-sparksql/

# Crear la tabla 'word_frequency_3' y especificar la ruta en S3 's3a://datasets-mauricio/reto-lab-sparksql/word_frequency_3'
spark.sql("""
    CREATE TABLE IF NOT EXISTS word_frequency_3 (
        word STRING,
        count INT
    )
    USING parquet
    LOCATION 's3a://datasets-mauricio/reto-lab-sparksql/word_frequency_3'
""")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

DataFrame[]

In [41]:
# Creamos el dataframe para luego mostrar todas las tablas NUEVAMENTE que tenemos en el sistema HIVE, 
# verificando la creación de la tabla word_frequency_3.
data_frame_15 = spark.sql("SHOW TABLES")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [42]:
# Mostrar todas las tablas NUEVAMENTE que tenemos en el sistema HIVE, 
# verificando la creación de la tabla word_frequency_3.
data_frame_15.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|  default|                docs|      false|
|  default|               docs2|      false|
|  default|               docs3|      false|
|  default|              docss3|      false|
|  default|                expo|      false|
|  default|             hdiens3|      false|
|  default|          hdiextxgui|      false|
|  default|          hdilabhive|      false|
|  default|      word_frequency|      false|
|  default|    word_frequency_2|      false|
|  default|    word_frequency_3|      false|
|  default| word_frequency_ctas|      false|
|  default|word_frequency_ct...|      false|
|  default|wordcount_table_hive|      false|
+---------+--------------------+-----------+

In [43]:
# Creamos el dataframe para luego mostrar que la tabla esté vacía
data_frame_16 = spark.sql("SELECT * FROM word_frequency_3;")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [44]:
# Mostrar que la tabla esté vacía
data_frame_16.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----+
|word|count|
+----+-----+
+----+-----+

In [45]:
# Llenar la tabla con los resultados del query
spark.sql("""
    INSERT INTO word_frequency_3
    SELECT word, count(1) AS count 
    FROM (
        SELECT explode(split(line,' ')) AS word 
        FROM docs3
    ) w 
    GROUP BY word 
    ORDER BY count DESC;
""")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

DataFrame[]

In [46]:
# Creamos el dataframe para luego mostrar la creación del contenido de la tabla.
data_frame_17 = spark.sql("SELECT * FROM word_frequency_3;")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [47]:
# Mostrar la creación del contenido de la tabla.
# Nota: Sólo muestra las 20 primeras.
data_frame_17.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----+
|word|count|
+----+-----+
| the|44647|
|  of|28020|
|    |27298|
|  to|23208|
| and|20444|
|  in|13174|
|that|12265|
|   I|10880|
|   a|10431|
|  is| 7776|
|  be| 7148|
|  it| 6899|
|  as| 6473|
| not| 5920|
| for| 5658|
|have| 5060|
|  by| 4571|
| you| 4328|
|  he| 4111|
| was| 4029|
+----+-----+
only showing top 20 rows

In [48]:
# OPCIÓN 2.
# Crear la tabla 'word_frequency_ctas_3' y especificar la ruta en S3 's3a://datasets-mauricio/reto-lab-sparksql/word_frequency_ctas_3'
spark.sql("""
    CREATE TABLE word_frequency_ctas_3
    USING parquet
    LOCATION 's3a://datasets-mauricio/reto-lab-sparksql/word_frequency_ctas_3'
    AS
    SELECT word, count(1) AS count
    FROM (
        SELECT explode(split(line, ' ')) AS word
        FROM docs3
    ) w
    GROUP BY word
    ORDER BY count DESC
""")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

DataFrame[]

In [49]:
# Creamos el dataframe para luego mostrar la creación del contenido de la tabla.
data_frame_18 = spark.sql("SELECT * FROM word_frequency_ctas_3;")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [50]:
# Mostrar la creación del contenido de la tabla.
# Nota: Sólo muestra las 20 primeras.
data_frame_18.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----+
|word|count|
+----+-----+
| the|44647|
|  of|28020|
|    |27298|
|  to|23208|
| and|20444|
|  in|13174|
|that|12265|
|   I|10880|
|   a|10431|
|  is| 7776|
|  be| 7148|
|  it| 6899|
|  as| 6473|
| not| 5920|
| for| 5658|
|have| 5060|
|  by| 4571|
| you| 4328|
|  he| 4111|
| was| 4029|
+----+-----+
only showing top 20 rows

In [51]:
# Mostrar la creación del contenido de máximo 5 entradas la tabla.
data_frame_18.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----+
|word|count|
+----+-----+
| the|44647|
|  of|28020|
|    |27298|
|  to|23208|
| and|20444|
+----+-----+
only showing top 5 rows